* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-image: url(../images/4499647.jpg);
  background-size: cover;
}
.logo {
  position: absolute;
  top: 40%;
  left: 2%;
  right: 8%;
  bottom: 40%;
  width: max-content;
  font-size: 3.1rem;
}
