* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-image: url(/images/4893763.jpg);
  background-size: cover;
}
.logo {
  position: absolute;
  top: 40%;
  left: 2%;
  right: 8%;
  bottom: 40%;
  width: max-content;
  font-size: 2.8rem;
  color: white;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: white;
  transition: 0.5s ease-out;
  border: none;
  padding: 0.5rem 1.5rem;
}
.button:hover {
  color: white;
  background-color: black;
}
.form {
  position: absolute;
  top: 15%;
  left: 26%;
  right: 40%;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  /* background-color: white; */
  border-radius: 1.5rem;
  font-size: xx-large;
  color: white;
}
.form > a {
  color: white;
}
